__mocks__
__tests__
.cache
.extras
.git
.scannerwork
.vscode
coverage
dist
log
node_modules
scripts
src/config/resources/jwt/private-key.pem
src/config/resources/tls/private-key.pem
.depcheckrc.yml
.editorconfig
.env.STUDENT
.eslint*
.git*
.hadolint.yaml
.markdownlint*
.prettier*
.snyk
Dockerfile*
Jenkinsfile
jest.config.ts
jest.config.js
ToDo.md
typedoc.cjs
Zusammenfassung.md
