# https://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories

.nyc_output/*
.vscode/*
build/*
coverage/*
dist/*
node-ts/*
scripts/*
temp/*
node_modules/*

.eslintrc.cjs

# default:
#node_modules/*
