# https://git-scm.com/docs/gitignore#_pattern_format

# compiled output
dist

# Abhaengige Dateien durch npm
node_modules

# Generierte Dateien
build
.extras/dependency-check-report.html
.extras/doc/projekthandbuch/html/*
.extras/doc/folien/*.html
.extras/doc/api/*
.extras/doc/ReadMe.html
node-ts
temp
tmp
dependencies.svg

# Sensible Daten
.extras/compose/db/mysql/db_root_password.txt
.extras/compose/db/postgres/db_password.txt
src/config/resources/jwt/private-key.pem
src/config/resources/tls/private-key.pem

# Logs
log
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.scannerwork

# Prometheus und Grafana
.extras/compose/prometheus-grafana/prometheus-data/*
.extras/compose/prometheus-grafana/grafana.db

# OS
.DS_Store
Thumbs.db

# Tests
coverage
.nyc_output
.clinic
__tests__/buch/__snapshots__

# Snyk
.snyk
snyk_report.*
snyk-*.json
snyk-*.log

# IDEs and editors
.idea
*.iml
/.env
.project
.classpath
.c9/
*.launch
.settings/
.sonarlint
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
