save-exact=true
# Webbrowser, z.B.:   https://www.npmjs.com/package/typescript
registry=https://registry.npmjs.org

# https://stackoverflow.com/questions/57541402/node-gyp-configure-got-gyp-err-find-vs
python=python
# fuer re2 und argon2 (und ggf. pg-native)
msvs_version=2022
#msvs_version=2019

#strict-ssl=false
#package-lock=false
